  .register{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #173451;
  color: #FFFFFF;
  /* background: rgba(0, 0, 0, 0.5); */
  }

.register-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
}

.register-form label {
  margin-bottom: 5px;
}

.register-form input {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000; 
}

.register-form button {
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.register__nav-button{
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  min-width: 179px;
  padding: 10px 15px;
  cursor: pointer;
}
.register-form button:hover {
  background-color: #0056b3;
}
.error-message{
  color: red;
}