.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-style{
    background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  min-width: 179px;
  padding: 10px 15px;
  cursor: pointer;
}